// my own colors
$background-color: hsl(0, 0, 99);
$tipography-color: #2f3439;
$white: #fff;

// primary colors
$primary: hsl(209, 100, 25);
$primary-45: hsl(209, 100, 45);
$primary-75: hsl(209, 100, 75);

// contrast
$contrast: hsl(145, 64, 25);
$contrast-45: hsl(145, 64, 45);
$contrast-75: hsl(145, 64, 75);

// updating bulma variables

// general customizations
$body-background-color: $background-color;
$background: $background-color;
$family-sans-serif: 'Lora', sans-serif;
$text: $tipography-color;
$text-strong: $tipography-color;
$link: $primary;
$link-hover: $primary-45;

// navbar customizations
$navbar-background-color: $background-color;

// footer customizations
$footer-background-color: $background-color;
$footer-padding: 3rem 1.5rem;
