@import './variables';

.content a {
  border-bottom: 1px dashed $primary;
}

figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 1em;
  text-align: center;
}

.post-card img {
  max-height: 170px;
  object-fit: cover;
}

.content {
  .tag {
    background-color: transparent;
    padding: 0;
  }
}

::selection {
  background-color: $tipography-color;
  color: $background-color;
}
