---
title: Home
layout: layouts/base.liquid
permalink: /
eleventyExcludeFromCollections: true
---

<main class="index-page">
  <section class="section">
  {% include partials/profile %}

    <div class="description">
      <p>
        Prazer, sou Emanuel Gonçalves, casado, cristão e Engenheiro Front End. Sou entusiasta de Tecnologias Web, Acessibilidade e Web Semântica. Atualmente trabalho como Desenvolvedor Front End na Storyblok. Eu reconheço o papel do Open Source e das comunidades de desenvolvimento, e sempre que possível, procuro participar delas. Meu lema é um ditado africano que diz: 'To go fast, go alone; to go far, go together' ('Se quer ir rápido, vá sozinho; para ir longe, vá junto').
      </p>
    </div>
  </section>

  <section class="section">
    {% include partials/title, tag: 2, title: "Alguns dos meus projetos" %}

    {% assign projectsToUse = projects.ptBr | slice: 0, 4 %}
    {% include partials/project-card-grid, projects: projectsToUse %}

    <a href="/projects" title="Conheça todos os meus projetos" class="button is-primary is-outlined"> Ver todos os projetos </a>
  </section>

  <section class="section">
    {% include partials/title, tag: 2, title: "Últimos blog posts" %}
    
    <div class="columns is-multiline">
      {% assign postsToShow = collections.posts | slice: 0, 4 %}
      {% for post in postsToShow %}
        <div class="column is-half">
          {% include partials/post-card, post: post %}
        </div>
      {% endfor %}
    </div>

    <a href="/posts" class="button is-primary is-outlined"> Confira meus blog posts </a>
  </section>
</main>