---
title: Home
layout: layouts/base.liquid
permalink: /
eleventyExcludeFromCollections: true
---

{% assign home = storyblok | homeStory %}

<main class="index-page">
  <section class="section">
  <img
    class="profile-image"
    src="{{ home.data.profile.filename }}"
    alt="Foto de perfil de Emanuel Gonçalves"
    width="250"
    height="250"
  />

    <div class="description">
      <p>
        {{ home.data.about }}
      </p>
    </div>
  </section>

  <section class="section">
    {% include partials/title, tag: 2, title: "Alguns dos meus projetos" %}

    <div class="columns is-multiline">
      {% for project in home.data.projects %}
        <div class="column is-half">
          {% include partials/project-card, project: project.content, tags: project.tag_list %}
        </div>
      {% endfor %}
    </div>

    <a href="/projects" title="Conheça todos os meus projetos" class="button is-primary is-outlined"> Ver todos os projetos </a>
  </section>

  <section class="section">
    {% include partials/title, tag: 2, title: "Últimos blog posts" %}
    
    <div class="columns is-multiline">
      {% assign postsToShow = storyblok | lastPosts | slice: 0, 4 %}
      {% for post in postsToShow %}
        <div class="column is-half">
          {% include partials/post-card, post: post %}
        </div>
      {% endfor %}
    </div>

    <a href="/posts" class="button is-primary is-outlined"> Confira meus blog posts </a>
  </section>
</main>