---
title: Projetos
layout: layouts/base.liquid
permalink: /projects/
eleventyExcludeFromCollections: true
---

<section class="section">
  {% include partials/title, tag: 1, title: "Meus projetos" %}

  {% assign projectsData = storyblok | storyblokProjects %}
  <div class="columns is-multiline">
    {% for project in projectsData %}
      <div class="column is-half">
        {% include partials/project-card, project: project.data, tags: project.tag_list %}
      </div>
    {% endfor %}
  </div>
</section>