---
eleventyExcludeFromCollections: true
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: layouts/base.liquid
---

<section>
  <div class="title-container">
    <h1 class="title"> Tagged "{{ tag }}" </h1>
  </div>

  <div class="columns is-multiline">
    {% assign taglist = collections[tag] %}
    {% for post in taglist %}
      <div class="column is-half">
        {% include partials/post-card, post: post %}
      </div>
    {% endfor %}
  </div>
</section>