@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: 'Lora', 'serif';
  @apply text-primary bg-secondary;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.has-fixed-nav {
  position: relative;
  top: 80px;
}

.title {
  @apply text-4xl font-bold mb-4;
}

.subtitle {
  @apply text-2xl;
}

.button {
  @apply p-2 rounded-sm border-none;
}

.link {
  color: #456585;
  border-bottom: 1px solid #456585;
}
